@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}

nav .fa-bars{
  float: right;
  padding-top: 58px;
  padding-right: 120px;
  font-size: 1.6rem;
  color: orange;
  cursor: pointer;
  display:none;
}



@media (max-width: 600px) {

  .fa-paper-plane {
    padding-left:0px !important;
}



  .common-content ul {
    text-align: center;
    padding-left:0px !important;
    
}


  .container ul {
    margin-left: 200px;
    flex-direction: column;
    width: 100%;
    background: #333;
    display: none;
}

nav .fa-bars {
  padding-right: 0px !important;
 
}

.h3 {
  margin-right: 0px !important;

}

  .container{
    width: 99%;
    padding-bottom: 100px;

  }

  nav .fa-bars{
    display: block;
  }

  nav .fa-bars{
    font-size: 55px;
  }


  nav .fa-bars{
    display: block;
  }

  nav .fa-bars{
    font-size: 55px;
  }


  

  .about-section{
    width:100% !important;
    height: 700px !important;
  }

  .text-area-about{
    width: 100% !important;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0px !important;
    padding-bottom: 150px !important;
    padding-top: 0px !important;
  }

  .text-area-about h1{
    text-align: center;
    font-size: 40px !important;
  }

  .text-area-about p {
    padding-left: 24px;
    width: 89% !important;
    font-size: 20px !important;
    text-align: center;
    
}

.img-1{
  align-items: center !important;
  display: flex;
  justify-content: center;
}

.about-img {
  width: 42% !important;
  height: 91% !important;
  padding-left:0px !important;
  padding-bottom:0px !important;
}

.text-about-area-1{
  display: flex;
  flex-direction: column;
}

.text-about-area-2{
  padding-right: 0px !important;
  padding-top: 300px !important;
  text-align: center;
}


.text-about-area-2 span{
  align-items: center;
  padding-left: 0px !important;

}

.text-about-area-2 h5 {
  font-size: 17px !important;
  padding-top: 30px !important;
  width: 580px !important ;
}

.text-about-area-2 hr {
  width: 74% !important;
  margin-left: 55px;
}


.text-about-area-2 p{
  width: 480px !important;
  padding-left: 40px;
}

.third-about-section{
  height: 863px !important;
  flex-direction: column-reverse;

}

.about-22-img {
  width: 344px !important;
  height: 290px !important;
}

.image-area {
  justify-content: center;
  padding-right: 0px !important;
  display: flex;
  padding-top: 120px !important;
}

.text-area-2{
  padding-left: 0px !important;
    padding-bottom: 140px !important;
}

.text-area-2 h1 {
  font-size: 43px !important;
  text-align: center;
  
}

.text-area-2 hr {
  width: 60% !important;
  margin-left: 114px;
 
}

.text-area-2 p {
  padding-left: 62px;
  width: 509px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.text-4 h1 {
  text-align: center;
  padding-left: 0px !important;
  padding-top: 120px !important;
}

.text-4 hr {
  margin-left: 167px !important;
  width: 48% !important;
}

.text-4 p {
  padding-left: 77px !important;
  width: 85% !important;
  font-weight: 500 !important;
  font-size: 17px !important;
}

.text-area {
  padding-left: 0px !important;
}

.text-area h1 {
  padding-top: 80px !important;
  font-size: 30px !important;
}

.sixth-section {
  height: 650px !important;
}

.container-5 {
  width: 86%;
  padding-left:16px !important;
  padding-top: 37px !important;
  display: flex;
  flex-direction: column;
}

.container-50{
  padding-top: 28px;
}

.btn-1 {
  margin-left: 334px !important;
  width: 120px;
  padding: 14px !important;
}

.seventh{
  display: flex;
  flex-direction: column;
  height: 380px !important;
}

#helmet{
  font-weight: 500;
  padding-left: 40px !important;
}

.sub-hero h1 {
  padding-left:0px !important;
  font-size: 35px !important;
  text-align: center;
}

.logo-section {
  padding-top: 45px !important;
  padding-right: 0px !important;
  display: flex !important;
  justify-content:center !important;
  margin-bottom: 120px !important;
}

.images-9 {
  width: 157px !important;
  padding: 9px !important;
  height: 158px !important;
}

.last-section{
  align-items: center;
  display: flex !important;
  height: 1300px !important;
  flex-direction: column;
}

#fname, #cnt {
  width: 278px ;
  padding: 10px !important;
}

.last-butn {
  width: 280px !important;
}


}

/* -------------------------------------- end responsive  for small screen------------------------------------------------------------------*/





.common-content ul{
  padding-left: 207px;
  padding-top: 0px;
  
}

.common-content ul li{

  padding: 15px;
  font-size: 31px;
  font-weight: 800;
  color: rgb(249, 241, 241);
}



.common-content{
  width: 41%;
  height: 300vh;
  background: #011128ed; 
  z-index: 1;
  position: fixed;

   
  
}


#responsive-nav{
  display:none;
}

@media (min-width: 768px) {
  #responsive-nav{
    display: none !important;
  }
}


.about-section{
   background-image: url(about-images/aboutbg.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-color: rgba(0, 0, 0, 0.7);
   background-blend-mode: darken;
   display: flex;
   justify-content: space-between;
   height: 500px;
   width: 1500px;
}

.text-area-about{
    display: flex;
    padding-top: 200px;
    padding-left: 220px;
}

.text-area-about h1{
    color: white;
    font-size: 60px;
}


.text-area-about span{
    color: orange;

}

.text-area-about p{
    width: 600px;
    font-size: 20px;
    color: white;
}

.about-img{
    width: 500px;
    height: 750px;
    padding-left: 200px;
    padding-bottom: 500px;
   
}

 /* second-about-section  */


 .text-about-area-1{
    display: flex;
    justify-content: space-between;

 }
 .text-about-area-2{
    height: 700px;
    padding-right: 40px;
    padding-top: 200px;
 }

 .text-about-area-2 span{
    font-size: 40px;
    color: rgb(219, 146, 9);
    padding: 10px;
 }

 

 .text-about-area-2 h5{
    color: black;
    font-size: 17px;
    padding-top: 30px;
    width: 480px;
 }

 
 .text-about-area-2 hr{
  background-color: orange;
  width: 100%;
  height: 5px;
 }

 

 .text-about-area-2 p{
    width: 430px;
    font-size: 19px;
    
 }

 .img-2{
    height:200px;
    width: 200px;
 }

 
 
 .cube-container {
    padding-top: 200px;
    padding-left: 30px;
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 50px auto;
  }
  
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    color: rgb(214, 21, 21);
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
   
  }
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .cube-container:hover .cube {
    animation-play-state:running;
    animation-duration: 12s;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
  
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  
  /* third-about-section */

  .third-about-section{
   background-image: url(about-images/aboutbg2.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-color: rgba(0, 0, 0, 0.9);
   background-blend-mode: darken;
    display: flex;
    justify-content: space-between;
    height: 500px;
  }
  

  .text-area-2{
    padding-left: 210px;
    padding-top: 150px;
  }
 .text-area-2 h1{
     font-size: 50px;  
     color:rgb(219, 146, 9) ;
 }

 .text-area-2 p{
  width: 450px;
  color: white;
  font-size: 17px;
  font-weight: 800;
 }

 .text-area-2 hr{
  background-color: orange;
  width: 100%;
  height: 5px;
 }

 .image-area{
  padding-right: 210px;
  padding-top: 100px;
 }


 .about-22-img{
  width: 350px;
  height: 340px;
  /* padding-right: 300px; */
 }


 .fourth-section{
  width: 100%;
  height: 400px;
 }

 .text-4 h1{
  color: orange;
  padding-left: 190px;
  padding-top: 120px;
 }

 .text-4 hr{
  background-color: orange;
  margin-left: 190px;
  width: 70%;
  height: 5px;
 } 

 .text-4 p{
  padding-left: 190px;
  width: 1000px;
  font-size: 17px;
  font-weight: 800;
 }

 .text-about-area-2 i{
   color: orange;
   font-size: 32px;
 }


 /* #responsive-nav{
  display: none;
}
@media (min-width: 768px) {
  #responsive-nav{
    display: none !important;
  }
} */