@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}

nav .fa-bars{
    float: right;
    padding-top: 58px;
    padding-right: 120px;
    font-size: 1.6rem;
    color: orange !important;
    cursor: pointer;
    display:none;
  }
  

.common-content ul{
    padding-left: 207px;
    padding-top: 0px;
    
  }
  
  .common-content ul li{
  
    padding: 15px;
    font-size: 31px;
    font-weight: 800;
    color: rgb(249, 241, 241);
  }
  
  
  
  .common-content{
    width: 100%;
    height: 300vh;
    background: #011128ed; 
    z-index: 1;
    position: fixed;
  
     
    
  }
  /* -----------------------------------for mobile responsive--------------------------------------------------------------------------- */

@media (max-width: 600px) {

    .fa-paper-plane {
        padding-left:0px !important;
    }
    
    
    
      .common-content ul {
        text-align: center;
        padding-left:0px !important;
        
    }
    
    
      .container ul {
        margin-left: 200px;
        flex-direction: column;
        width: 100%;
        background: #333;
        display: none;
    }
    
    nav .fa-bars {
        
      padding-right: 0px !important;
     
    }
    
    .h3 {
      margin-right: 0px !important;
    
    }
    
      .container{
        width: 99%;
        padding-bottom: 100px;
    
      }
    
    
      nav .fa-bars{
        font-size: 55px !important;
      }
    
      nav .fa-bars{
        display: block !important;
      }

.text-contact {
    padding-top: 110px !important;
}


 .text-contact h3 {
    font-weight: 400;
     text-align: end !important;

}

.text-contact h1 {
     font-size: 45px !important;
    font-weight: 300 !important;

}

.second-contact-cointainer {
    padding-left: 80px;
    width: 501px ;
    display: flex;
   flex-direction: column !important;
    gap: 30px !important;
}

.second-part-contact {
    height: 1181px !important;
    margin-top: 80px !important;
}

.d-block h4{
    font-weight: 300;

}

.d-block span{
    font-weight: 200;
}

   
.ifrm-1{
    width: 450px !important;
   
}

.how_can_we_help {
    width: 456px !important;
}
      
.seventh{
 display: flex;
 flex-direction: column;
height: 380px !important;
}
      
#helmet{
 font-weight: 500;
padding-left: 40px !important;

}
      
.sub-hero h1 {
    padding-left:0px !important;
    font-size: 35px !important;
    text-align: center;
}

.logo-section {
    padding-top: 45px !important;
    padding-right: 0px !important;
    display: flex !important;
    justify-content:center !important;
    margin-bottom: 120px !important;
}

.images-9 {
    width: 157px !important;
    padding: 9px !important;
    height: 158px !important;
}

.last-section{
    align-items: center;
    display: flex !important;
    height: 1300px !important;
    flex-direction: column;
}
    
    #fname, #cnt {
    width: 278px ;
    padding: 10px !important;
    }
    
    .last-butn {
    width: 280px !important;

    }
    
    
}


/* -------------------------------------- responsive  for tablets screen------------------------------------------------------------------*/

@media (min-width: 601px) and (max-width: 768px) {

    .common-content ul {
       text-align: center;
       padding-left:0px !important;
       padding-top: 0px;
   }
   
    #fas-1{
       font-size: 58px !important;
       padding-top: 44px !important;
       padding-left: 697px !important;
       
   }

   .fa-paper-plane {
    padding-left:0px !important;
}



  .common-content ul {
    text-align: center;
    padding-left:0px !important;
    
}


  .container ul {
    margin-left: 200px;
    flex-direction: column;
    width: 100%;
    background: #333;
    display: none;
}

 nav .fa-bars {
    
  padding-right: 0px !important;
 
}

.h3 {
  margin-right: 0px !important;

}

  .container{
    width: 99%;
    padding-bottom: 100px;

  }


  nav .fa-bars{
    font-size: 55px !important;
  }

  nav .fa-bars{
    display: block !important;
  }

.text-contact {
padding-top: 110px !important;
}


.text-contact h3 {
font-weight: 400;
 text-align: end !important;

}

.text-contact h1 {
 font-size: 45px !important;
font-weight: 300 !important;

}

.second-contact-cointainer {
padding-left: 80px;
width: 501px ;
display: flex;
flex-direction: column !important;
gap: 30px !important;
}

.second-part-contact {
height: 1181px !important;
margin-top: 80px !important;
}

.d-block h4{
font-weight: 300;

}

.d-block span{
font-weight: 200;
}


.ifrm-1{
width: 450px !important;

}

.how_can_we_help {
width: 456px !important;
}
  
.seventh{
display: flex;
flex-direction: column;
height: 380px !important;
}
  
#helmet{
font-weight: 500;
padding-left: 40px !important;

}
  
.sub-hero h1 {
padding-left:0px !important;
font-size: 35px !important;
text-align: center;
}

.logo-section {
padding-top: 45px !important;
padding-right: 0px !important;
display: flex !important;
justify-content:center !important;
margin-bottom: 120px !important;
}

.images-9 {
width: 157px !important;
padding: 9px !important;
height: 158px !important;
}

.last-section{
align-items: center;
display: flex !important;
height: 1300px !important;
flex-direction: column;
}

#fname, #cnt {
width: 278px ;
padding: 10px !important;
}

.last-butn {
width: 280px !important;

}



}




.contact-first-part{
   background-color: rgba(17, 31, 49, 0.8);
   height: 400px;
   
}

.text-contact {
    text-align: center;
    padding-top: 190px;

}

.text-contact h3{
    color: orange;
    font-size: 20px;
}


.text-contact h1{
    color: white;
    font-size: 45px;
}

/* <!-- second-part-contact --> */

.second-part-contact{
    height: 750px;
    margin-top: 80px;
}

.second-contact-cointainer{
    display: flex;
    justify-content: space-around;
    gap: 330px;
}


.contact-detail p{
    position: relative;
}

.contact-detail p::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10px;
    height: 5px;
    width: 200px;
    z-index: 3;
    background: #f6b619;
}

.contact-detail p::after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 5px;
    left: 0;
    right: 0;
    background: #2c507c;
}


.contact-detail h1{
    color:#2c507c;
}

.contact-detail p{
    color: #999;
}

.INFO{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.INFO i{
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #f6b619;
    margin-right: 20px;
    text-align: center;
    width: 30px;
}


.how_can_we_help{
    width: 750px;
}

.how_can_we_help h1{
   color:#2c507c;
}

.how_can_we_help p{
    position: relative;
    color: #999;
}

.how_can_we_help p::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10px;
    height: 5px;
    width: 200px;
    z-index: 3;
    background: #f6b619;
}

.how_can_we_help p::after{
    content: "";
    position: absolute;
    bottom: -20px;
    height: 5px;
    left: 0;
    right: 0;
    background: #2c507c;
}


.form-fill{
    display: flex;
    /* padding: 15px; */
    gap: 20px;

}

.colspan{
    width: 90%;
    padding: 15px;

}

.contact .form-control{

    padding: 25px;
    font-size: 13px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
   
}


.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    transition: .15s ease-in-out; 
}

.colspn-1{
    padding: 15px;
}

.btn-1-contact{
    border-radius: 3px;
    font-weight: 900;
    margin-left: 17px;
    font-size: 17px;
    background-color: black;
    color: white;
    padding: 15px 35px;
   
}

.btn-1-contact:hover{
    background-color: #212529;
    border-color: #f9f9f9;
}

nav .fa-bars{
    float: right;
    padding-top: 58px;
    padding-right: 20px;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
    display: none;
  }
  

#responsive-nav{
    display: none;
  }
  @media (min-width: 768px) {
    #responsive-nav{
      display: none !important;
    }
  }






