@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}


@media (max-width: 600px) {






























































































/* .sixth-section */

.sixth-section {
    height: 650px !important;
  }

  .text-area {
    padding-left:0px !important;
}
  
  .container-5 {
    width: 86%;
    padding-left:16px !important;
    padding-top: 37px !important;
    display: flex;
    flex-direction: column;
  }
  
  .container-50{
    padding-top: 12px;
  }
  
  .btn-1 {
    margin-left: 334px !important;
    width: 120px;
    padding: 14px !important;
  }
  
  .seventh{
    display: flex;
    flex-direction: column;
    height: 380px !important;
  }
  
  #helmet{
    font-weight: 500;
    padding-left: 40px !important;
  }
  
  .sub-hero h1 {
    padding-left:0px !important;
    font-size: 35px !important;
    text-align: center;
  }
  
  .logo-section {
    padding-top: 45px !important;
    padding-right: 0px !important;
    display: flex !important;
    justify-content:center !important;
    margin-bottom: 120px !important;
  }
  
  .images-9 {
    width: 157px !important;
    padding: 9px !important;
    height: 158px !important;
  }
  
  .last-section{
    align-items: center;
    display: flex !important;
    height: 1300px !important;
    flex-direction: column;
  }
  
  #fname, #cnt {
    width: 278px ;
    padding: 10px !important;
  }
  
  .last-butn {
    width: 280px !important;

  }
  


}


/* end of responsive code */

.product-container{
    background-image: url(product-image/aboutbg.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color:rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    background-blend-mode: darken;
}

.product-text h3{
    padding-left: 120px;
    padding-top: 120px;
    color: white;
    font-size: 26px;
    font-weight: 500;
}

.product-text span{
    color: white;
}

.product-text h1{
    /* padding-top: 120px; */
    color: orange;
    font-size: 46px;
    padding-left: 120px;
}

.product-text p{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding-left: 120px;
    width: 778px;
    color: white;
}

/* <!-- second-part --> */

.row{
    display: flex;
    justify-content: space-between;
}
.second-container-product h1{
    font-size: 35px;
}

.second-container-product{
    padding-top: 80px;
    padding-left: 60px;
}

.second-products-laptop{
   padding-right: 210px;
   padding-top: 80px;

}

.google-and-playstore{
    padding-left: 40px;
}

.laptop-img{
    mix-blend-mode: multiply;
    height: 110px;
    width: 390px;
}

.product-text strong{
    font-weight: bolder;
}


.product-text-1 p{
    width: 90%;
    padding-left: 120px;
    font-size: 16px;
    line-height: 35px;
    color: grey;
    margin-top: 80px;
    padding-bottom: 60px;
}


/* <!-- Third-part --> */


.third-section-container{
    margin-top: 80px;
    border: 2px solid orange;
}

.third-nav-section{
    gap: 210px;
    padding: 30px;
    background-color: #fbf7f7;
    display: flex;
    justify-content: space-around;
}

.img-section{
    padding-left: 40px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

}

.imagine-img{
    width: 850px;
    height: 450px;
}

.google-playstore{
    padding-bottom: 70px;
    padding-left: 160px;
}

.google-third{
    height: 110px;
    width: 390px;

}

.imagine-section{
    padding-right: 180px;
}

.imagine-section h2{
    padding-left: 110px;
}

nav .fa-bars{
    float: right;
    padding-top: 58px;
    padding-right: 20px;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
    display: none;
  }
  
#responsive-nav{
    display: none;
  }
  @media (min-width: 768px) {
    #responsive-nav{
      display: none !important;
    }
  }