@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
    
}

.common-content ul{
  padding-left: 427px;
  padding-top: 100px;
  
}

.common-content ul li{

  padding: 31px;
  font-size: 40px;
  font-weight: 800;
  color: rgb(249, 241, 241);
}

/* .common-content ul li:hover{
  color: black;
} */


.common-content{
  width: 65%;
  height: 300vh;
   background: #011128ed; 
   z-index: 1;
   position: fixed;

   
  
}



html .body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 191%;
   
 }

 .container{
    margin-bottom: 10px;
 }


.logo{
    display:flex;
    flex-direction: column;
    
    
}

h3{
   margin-right: 200px;
   margin-top: 15px;
   font-size: 18px;
}

h3 span{
    color:orange;
}


.img{
   max-width: 80px;
   max-height: 80px;
   background-color:orange;
   border-radius: 50%;
   margin-left: 55px;
   margin-top: 10px;
 
}


nav .fa-bars{
  float: right;
  padding-top: 58px;
  padding-right: 20px;
  font-size: 1.6rem;
  color: orange;
  cursor: pointer;
  display: none;
}

#responsive-nav{
  display: none;
}
@media (min-width: 768px) {
  #responsive-nav{
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {

  .body{
    width: 191%;
  }

  .container{
    width: 191%;
    padding-bottom: 100px;

  }


  .img_1{
    padding-right: 290px;
  }


  .img-2 {
    width: 647px !important;
    height: 586px !important;
  }


  
  .section-gridBox{
    width: 126%;
    flex-direction: column;
  }

  aside {
    width: 153% !important;
}

.containt-body{
  width: 153%;
}


.hero_section{
  display: flex;
  align-items: center;
  width: 191%;
  flex-direction: column;
  gap: 4px;
}

.text-section{
   
   text-align: center;
   font-size: 48px;
   padding-top: 73px !important;
   padding-bottom: 172px;

}

.text-section p{
 width: 760px !important;
 font-size: 28px !important;

}

.btn{
  font-size: 40px !important;
}

.btn i{
  font-size: 30px !important;
}

.Third-section{
   width: 191%;
   height: 1800px !important;
}

.text{
  display: flex;
  flex-direction: column;
  padding-left: 0px !important;
}


.text h1{
  font-size: 88px !important;
  
 
 
}

.para{
  width: 759px !important;
  padding-top: 20px !important;
  font-size: 33px;
}


.sectiON-fourth{
  width: 191%;
  height: 100% ;
}

.text-section_1 h1::before {
    content: "" !important;
    position: absolute !important;
    bottom: -10px !important;
    left: -143px !important;
    height: 7px !important;
    z-index: 3 !important ;
    margin-left: 470px !important;
    background: #2c507c !important;
   
    
}
.text-section_1 h1::after {
  margin-left: 550px !important;
  margin-right: 550px !important;
  content: "" !important;
  position: absolute !important;
  bottom: -10px !important;
  height: 5px !important;
  left: 0 !important;
  right: 0 !important;
  background: #f6b619 !important;
 
}

.item-2 {
  display: flex !important;
  flex-direction: column !important;
  grid-template-columns: 0px !important;

}
   
.image-section{
  padding-left: 256px;
  display: flex;
  flex-direction: column;

}

.image-section span {
  font-size: 41px !important;
  padding-top: 104px !important;
  font-weight: 900 !important;
}


.img-6 {
  width: 417px !important;
  height: 405px !important;
  padding: 40px !important;
}



.text-section_1{
  position: relative !important;
}



.text-section_1 h1 {
  font-size: 64px !important;
  text-align: center !important;

}



.grid-container{
  display: grid !important;
  grid-template-columns: 0px !important;
 padding-right:683px !important;
}



.gride-image {
  width: 247px !important;
  height: 199px !important;
}


.item span {
  font-size: 53px !important;
  font-weight: 900;
  padding: 9px;

}

.item span p {
  font-size: 26px !important;
}


.fifth{
  width: 191%;
  height: 1450px !important;

}

.text-8 h5 {
  text-align: center !important;
  padding-top: 80px !important;
  font-size: 36px !important;
}

.text-8 h1 {
  font-size: 50px !important;
  padding-top: 20px !important;
  font-weight: 600 !important;
}

.imgess-0 {
    display: grid !important;
    padding-right: 256px;
    grid-template-columns: 297px 44px !important;

}


.img-5 {
  width: 333px !important;
  height: 240px !important;
}

.sixth-section{
    
     width: 191%;
     height: 900px !important;
}
.text-area h1{
   padding-left: 12px !important;
   font-size: 46px !important;
}

.container-5 {
  padding-left: 80px !important;
  display: flex !important;
  padding-top: 64px !important;
  display: flex !important;
  flex-direction: column !important;
}





.container ul {
      margin-left: 200px;
      flex-direction: column;
      width: 100%;
      background: #333;
      display: none;
  }

  nav .fa-bars{
    display: block;
  }
  

  .container li {
      text-align: center;
      padding: 10px 0;
      margin:0;
      
  }

  .container li a {
      font-size: 18px;
  }

  .fa-lightbulb{
    margin-top: 20px;
  
  }
  .section{
    display: flex;
    
  }

  nav .fa-bars{
    font-size: 55px;
  }


  #check {
    width: 86px !important;
    height: 42px !important;
}

.container-50 span {
  font-size: 40px !important;
  padding-top: 300px !important;
  font-weight: 500;

}

.fa-paper-plane {
  font-size: clamp(60px, 32vh, 300px) !important;
   font-size: 120px;
  padding-left: 550px !important;
  /* padding-bottom: 550px !important; */
   position: relative !important;
  
}

.btn-1 {
  display: none;

}

.seventh {
  background-color: #052656 !important;
  height: 554px !important;
  width: 191%;
  display: flex !important;
  flex-direction: column;
}

.sub-hero-1 {
  font-weight: 400;
  font-size: 30px !important;
  padding-top: 70px !important;
  padding-left: 33px !important;
  
}

.sub-hero h1 {
  
  padding-left: 28px !important;
  font-size: 74px !important;
}

.images-9 {
  width: 202px !important;
  height: 202px !important;
}

.last-section{
  display: flex;
  flex-direction: column;
  padding-left: 110px;
  width: 191%;
  height: 1700px !important;
}
.last-logo{

   padding-left: 146px !important;
}

.last-img {
  width: 267px !important;
  height: 269px !important;
}

.last-text-1 h2{
  font-size: 36px !important;

}

.fa-facebook {
  width: 121px !important;
  height: 104px !important;
  font-size: 46px;
}

.fa-instagram {
  font-size: 46px;
  width: 106px !important;
  height: 106px !important;
}

.last-text-1 p{

  font-size: 26px;
  font-weight: 300; 
}

.last-text-2 p{

  font-size: 26px;
  font-weight: 300; 
}

.last-text-2 ul{
  font-size: 27px !important;

}

.last-text-3 h2{
  font-size: 36px !important;

}

#fname, #cnt {
  width: 534px;
  font-size: 24px;
  padding: 20px !important;
}

.last-butn {
  width: 534px !important;
  padding: 26px !important;
  font-size: 31px;
  color: black !important;
  background-color: rgb(247, 177, 46) !important;

}


}



nav {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 0px;
}

nav ul {
    display: flex;
    gap: 40px;
    padding: 60px;
    margin-right: 50px;
    margin-bottom: 0px;
    font-size: 2%;
    


}

nav ul li{
    transition: .3s ease-in-out;
    color:black;
    background-color:rgb(247, 241, 241);
    padding:6px;
    border-radius: 40px;
    font-size: 16px;

 }


 nav ul li:hover{
    border-bottom: 3px solid rgb(202, 198, 198) transparent;
    background:black ;
    color: #fff;
    transition-duration: 5ms;
    
 }

 .section-gridBox{
  display: flex;
  gap: 5px;
  /* height: 200px; */
 }

aside{
  width: 50%;
  height: 690px;
  background-color: rgb(25, 24, 24);
  display: flex;
  align-items:center;
  justify-content: center;

}
  
.fa-lightbulb{
  font-size: 300px;
  color: rgba(255,255,255,0.2);
  font-style:oblique;
  transform: rotate(-24deg);
}

.fa-code-branch{
  position: absolute;
  transform: rotate(-50deg);
  color:rgba(255,255,255,0.2);
  font-size: 300px;
  font-style:oblique;
  padding-left: 220px;
  padding-top: 210px;
}

.fa-microchip{
  position: absolute;
  transform: rotate(25deg);
  font-size: 300px;
  color: rgba(0, 0, 0, 0.1);
  font-style:oblique;
}

.containt-body{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  height: 600px;
  font-size: 50px;
  font-weight: 600;

}

.containt{
  background-color:rgb(67, 67, 171);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 50px;
}

.containt span{
  color: white;
}

.containt strong{
  color: rgb(228, 228, 19);
}

.section{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content:center;
}

.section_1{
  background-color:#cf9607;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 55%;
  height: 400px;
}

.section_1 span{
  color: black;
}

.section_1 strong{
  color: rgb(67, 67, 143);
}

.section_2{
  background-color: white;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 50%;
  height: 400px;
}

.section_2 span{
  color: black;
}


.hero_section{
  display: flex;
  background-image: url(images/introbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f8f9fa;
  background-blend-mode:darken;
  justify-content: space-between;
  gap: 40px;
  padding-top: 130px;
  background-size:contain;

}


.img_1{
  padding-left: 260px;
  mix-blend-mode: multiply;

}

.img-2{
  width: 500px;
  height: 500px;
}

.text-section {
  padding-top: 60px;
  text-align: center;
  
}

.text-section h1{
  padding-top: 20px;
}


.text-section h1 span{
   color: rgb(81, 81, 161);
}

.text-section p{
  width: 600px;
  margin-top: 10px;
  font-size: 17px;
  margin-right: 70px;
}

.btn{
  padding: 10px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.btn i{
  font-size: 15px;
  margin-right: 10px;
}

.btn:hover{
  color: white;
  background-color: black;
  border-color: rgb(242, 235, 235);
}

.Third-section{
  background-image: url(images/expertisebg.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding-left: 80px;
  height: 800px;
}

.text{
  display: flex;
  gap: 30px;
  padding-left: 300px;
  padding-top: 100px;
}

.text h1{
  font-size: 60px;
  color: #e8ad17;
}



.para{
  width: 380px;
  padding-top: 20px;
}

.grid-container{
  display: grid;
  justify-content:space-evenly;
  grid-template-columns: 0px 0px;
  padding-right: 490px;
  padding-top: 100px;
  gap: 90px;
 
}

.item{
  display: flex;
  /* gap: 90px; */
}

.gride-image{
  width: 110px;
  height: 110px;
}

.item span{
  font-size: 25px;
  padding: 9px;
  color: #e8ad17;

}

.item span p{
  font-size: 18px;
  padding-top: 10px;
  color: #fff;

}


.text-section_1 {
  position: relative;
}

.text-section_1 h1::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 100px;
  height: 5px;
  width: 300px;
  z-index: 3;
  margin-left: 470px;
  background: #f6b619;
  
}

.text-section_1 h1::after{
  margin-left: 550px;
  margin-right: 550px;
  content: "";
  position: absolute;
  bottom: -10px;
  height: 5px;
  left: 0;
  right: 0;
  background: #2c507c;
}

.text-section_1{
  text-align: center;
  color: rgb(83, 83, 181);
  margin-top: 100px;
  
}

.text-section_1 h1{
  font-size: 48px;
  
  
}



.item-2{
  display: grid;
  justify-content:space-evenly;
  grid-template-columns: 0px 0px 0px;
  margin-top: 90px;
  
}

.img-6:hover{
  transform: scaleY(1.2);
  transform: scaleZ(1.2);
  transform: scaleX(1.2);
   transition: all .6s ease-in-out;
  

}

.img-6{
  width: 200px;
  height: 200px;
  box-shadow:  px 0px #888888;
  padding: 40px;
}

.image-section span{
  font-size: 20px;
  padding-top: 90px;
  padding-left: 40px;
  font-weight: 900;
  color: rgb(84, 84, 171);
}

.fifth{
  background-color: black ;
  height: 700px;
  margin-top: 110px;
}

.text-8 h5{
  text-align: center;
  padding-top: 80px;
  color: #fff;
  font-size: 20px;

}

.text-8 h1 {
  font-size: 50px;
  padding-top : 20px;
  color: #cf9607;
  font-weight: 600;
  text-align: center;
}

.imgess-0{
 display: grid;
 grid-template-columns: 0px 0px 0px 0px;
 justify-content: space-evenly;
 padding-top: 70px;
}

.image-4{
 object-fit:contain;
 padding: 10px;

}


.img-5{
  width:200px;
  height:150px;
}

.sixth-section{
 height: 550px;
  background-color: #f6b619;;
}

.text-area h1{
  text-align: center;
  padding-top: 110px;
  color: #fff;
  font-size: 45px;
}

.text-area{
   padding-left: 140px;
   
}

.container-50{
  padding-left: 120px;
  padding-top: 98px;
}



.container-50 span{
  font-size: 25px;
  padding-top: 300px;
}

.fa-paper-plane{

  font-size: clamp(60px, 20vh, 300px);
  padding-left: 1270px;
  position: relative;
  right: 2%;
  bottom: 170px;
  top: 1%;
 color: rgba(255, 255, 255, 0.3);
  
}

#check{
   width: 30px;
   height: 30px;
   
}


.btn-1{
border-radius: 10%;
margin-left: 1200px; 
padding: 16px;
background-color: black;
color: #fff;

}

.btn-1:hover{
  background-color: #fff;
  color: black;
}

.seventh{
  background-color: #052656;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.sub-hero-1{
  color: #fff;
  font-size: 30px;
  padding-left: 250px;
  padding-top: 70px;
}

.sub-hero h1{
  color: #c08c08;
  padding-left: 250px;
  font-size: 40px;
  
}

.logo-section{
  padding-top: 45px;
  padding-right: 90px;
  display: flex;
  justify-content: flex-end;
}

.images-9{
  width: 120px;
  padding: 10px;
  height: 110px;
}

.vertial-line{
  background-color: #fff;
  height: 120px;
  width: 1px;
}

.last-section{
  height: 400px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 21, 21);
  color: #fff;
}

.last-logo{
  padding-top: 80px;
  padding-left: 70px;
}

.last-img{
  width: 200px;
  height: 200px;
}

.last-text-1{
  padding-top: 80px;
}


.last-text-1 h2{
  color: #f8ec0cee;
}

.fa-facebook{
  width: 90px;
  height: 90px;
}
.fa-instagram{
  width: 20px;
  
}

.last-text-2{
  padding-top: 80px;
}

.last-text-2 h2{
  color: #f8ec0cee;
}

.last-text-3{
  padding-top: 80px;
}

.last-text-3 h2{
  color: #f8ec0cee;
}

.last-butn{
  width: 180px;
  background-color: #cf9607;
  color: #fff;
  padding: 10px;
  margin-top: 10px;

}

#fname ,#cnt{
  padding: 7px;
}

.last-butn:hover{
  background-color: #fff;
  color: black;
}




